# 4.8 Grouping Data & Aggregating Variables

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### 1. Import relevant data

In [2]:
# Import orders_products_merged dataframe

path = r'/Users/queency_yustiawan/Study/CF/data analyst course/immersion/A4 exercise/Instacart Basket Analysis'

df_ords_prods_merge = pd.read_pickle (os.path.join (path, '02 Data', 'Prepared Data', 'orders_products_merge_derived.pkl'))

In [3]:
# Checking output

df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

### 2. Find the aggregated mean of the 'order_number' column grouped by 'department_id'

In [4]:
# Grouping data by 'department_id' and aggregate the 'order_number'

df_ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. Analyse the result

##### There are 21 department_id produced in the output, as opposed to only 8 department_id when we aggregate the subset.

### 4. Create the loyalty flag for existing customers

In [5]:
# Create 'max_order' column

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/8k/dxgtncgd49g2ryx410bsc12r0000gn/T/ipykernel_70750/1032840867.py:3: FutureWarning: The provided callable <function amax at 0x111717d80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
# Checking output

df_ords_prods_merge.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24

In [7]:
# Create loyalty flag with loc ( ) in 'loyalty_label' column

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [8]:
df_ords_prods_merge.loc[ (df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [9]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [10]:
# Checking the frequency of the loyalty flag

df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [12]:
# Checking output

df_ords_prods_merge [['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(30)

    user_id      loyalty_flag  order_number  max_order
0         1      New Customer             1         10
1         1      New Customer             2         10
2         1      New Customer             3         10
3         1      New Customer             4         10
4         1      New Customer             5         10
5         1      New Customer             6         10
6         1      New Customer             7         10
7         1      New Customer             8         10
8         1      New Customer             9         10
9         1      New Customer            10         10
10       15  Regular Customer            15         22
11       15  Regular Customer            17         22
12       15  Regular Customer            18         22
13       15  Regular Customer            21         22
14       15  Regular Customer            22         22
15       19      New Customer             2          9
16       19      New Customer             5          9
17       19      New Customer             7          9
18       21  Regular Customer            10         33
19       31  Regular Customer            10         20
20       31  Regular Customer            17         20
21       43  Regular Customer             6         11
22       43  Regular Customer             9         11
23       52  Regular Customer             1         27
24       52  Regular Customer             2         27
25       52  Regular Customer             3         27
26       52  Regular Customer             5         27
27       52  Regular Customer             7         27
28       52  Regular Customer             9         27
29       52  Regular Customer            10         27

### 5. Check the basic statistic of prices based on the customers' loyalty

In [15]:
# Checking min, max, mean of prices based on customers' loyalty

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min', 'max', 'mean']})

                 prices
                    min      max       mean
loyalty_flag
Loyal Customer      1.0  99999.0  10.386336
New Customer        1.0  99999.0  13.294670
Regular Customer    1.0  99999.0  12.495717

### 6. Create spending flag based on the customer's avg spending

In [16]:
# Create 'spending_avg' column

df_ords_prods_merge['spending_avg'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/8k/dxgtncgd49g2ryx410bsc12r0000gn/T/ipykernel_70750/3827184506.py:3: FutureWarning: The provided callable <function mean at 0x111728ae0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['spending_avg'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Checking output

df_ords_prods_merge[['user_id', 'spending_avg']].head(20)

    user_id  spending_avg
0         1      6.367797
1         1      6.367797
2         1      6.367797
3         1      6.367797
4         1      6.367797
5         1      6.367797
6         1      6.367797
7         1      6.367797
8         1      6.367797
9         1      6.367797
10       15      3.980556
11       15      3.980556
12       15      3.980556
13       15      3.980556
14       15      3.980556
15       19      8.372059
16       19      8.372059
17       19      8.372059
18       21      7.012683
19       31      8.137793

In [19]:
# Create a flag column for the spending

df_ords_prods_merge.loc [df_ords_prods_merge ['spending_avg'] < 10, 'spending_flag'] = 'Low Spender'

In [20]:
df_ords_prods_merge.loc [df_ords_prods_merge ['spending_avg'] >= 10, 'spending_flag'] = 'High Spender'

In [21]:
# Checking output

df_ords_prods_merge[['user_id', 'spending_avg', 'spending_flag']].head(30)

    user_id  spending_avg spending_flag
0         1      6.367797   Low Spender
1         1      6.367797   Low Spender
2         1      6.367797   Low Spender
3         1      6.367797   Low Spender
4         1      6.367797   Low Spender
5         1      6.367797   Low Spender
6         1      6.367797   Low Spender
7         1      6.367797   Low Spender
8         1      6.367797   Low Spender
9         1      6.367797   Low Spender
10       15      3.980556   Low Spender
11       15      3.980556   Low Spender
12       15      3.980556   Low Spender
13       15      3.980556   Low Spender
14       15      3.980556   Low Spender
15       19      8.372059   Low Spender
16       19      8.372059   Low Spender
17       19      8.372059   Low Spender
18       21      7.012683   Low Spender
19       31      8.137793   Low Spender
20       31      8.137793   Low Spender
21       43      7.444898   Low Spender
22       43      7.444898   Low Spender
23       52      6.356287   Low Spender
24       52      6.356287   Low Spender
25       52      6.356287   Low Spender
26       52      6.356287   Low Spender
27       52      6.356287   Low Spender
28       52      6.356287   Low Spender
29       52      6.356287   Low Spender

In [22]:
# Count the frequency of the spending flag

df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

### 7. Create order frequency flag based on the customer's ordering behaviour

In [24]:
# Count the median of each customer and create the "order frequency"

df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['order_interval_days'].transform(np.median)

/var/folders/8k/dxgtncgd49g2ryx410bsc12r0000gn/T/ipykernel_70750/2795508502.py:3: FutureWarning: The provided callable <function median at 0x1118622a0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['order_interval_days'].transform(np.median)

In [29]:
# Checking output

df_ords_prods_merge[['user_id', 'order_interval_days', 'order_frequency']].head(30)

    user_id  order_interval_days  order_frequency
0         1                  NaN             20.5
1         1                 15.0             20.5
2         1                 21.0             20.5
3         1                 29.0             20.5
4         1                 28.0             20.5
5         1                 19.0             20.5
6         1                 20.0             20.5
7         1                 14.0             20.5
8         1                  0.0             20.5
9         1                 30.0             20.5
10       15                  7.0             10.0
11       15                  8.0             10.0
12       15                  7.0             10.0
13       15                  7.0             10.0
14       15                 14.0             10.0
15       19                  6.0              6.0
16       19                  8.0              6.0
17       19                  6.0              6.0
18       21                  6.0              7.5
19       31                  7.0              6.0
20       31                  8.0              6.0
21       43                  4.0             10.0
22       43                  3.0             10.0
23       52                  NaN              8.0
24       52                  7.0              8.0
25       52                  7.0              8.0
26       52                  8.0              8.0
27       52                  8.0              8.0
28       52                  7.0              8.0
29       52                  8.0              8.0

In [31]:
# Create a flag for the order frequency

df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequenct customer'

In [32]:
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frequency'] > 10) & (df_ords_prods_merge['order_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [34]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [35]:
# Checking frequency

df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer         21559853
Regular customer           7208564
Non-frequenct customer     3636437
nan                              5
Name: count, dtype: int64

In [36]:
# Checking output

df_ords_prods_merge[['user_id', 'order_frequency', 'frequency_flag']].head(30)

    user_id  order_frequency          frequency_flag
0         1             20.5  Non-frequenct customer
1         1             20.5  Non-frequenct customer
2         1             20.5  Non-frequenct customer
3         1             20.5  Non-frequenct customer
4         1             20.5  Non-frequenct customer
5         1             20.5  Non-frequenct customer
6         1             20.5  Non-frequenct customer
7         1             20.5  Non-frequenct customer
8         1             20.5  Non-frequenct customer
9         1             20.5  Non-frequenct customer
10       15             10.0       Frequent customer
11       15             10.0       Frequent customer
12       15             10.0       Frequent customer
13       15             10.0       Frequent customer
14       15             10.0       Frequent customer
15       19              6.0       Frequent customer
16       19              6.0       Frequent customer
17       19              6.0       Frequent customer
18       21              7.5       Frequent customer
19       31              6.0       Frequent customer
20       31              6.0       Frequent customer
21       43             10.0       Frequent customer
22       43             10.0       Frequent customer
23       52              8.0       Frequent customer
24       52              8.0       Frequent customer
25       52              8.0       Frequent customer
26       52              8.0       Frequent customer
27       52              8.0       Frequent customer
28       52              8.0       Frequent customer
29       52              8.0       Frequent customer

# 9. Export Data

In [39]:
# Exporting data as pkl

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merge_aggregated.pkl'))